
.leftsider{
  top: 50px
}
.navigation{
  background: #fff;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 5px;
  p{
    line-height: 60px;
    padding-left: 20px;
    color: #3d81f2;
    font-size: 16px
  }
  border-bottom: 1px solid #ccc;/*no*/
}
.conheadtab p{
  color: #fff
}

.red {
  color: red;
}
.blue1{
  color: #63B8FF
}
.white{
  color: #fff
}
 .text {
   font-size: 16px;
 }
 .h1 {
  margin: 6px 0 12px 0;
}
// .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
//   background: #4FC1E9;
//   color: #fff
// }
.ivu-tabs-nav .ivu-tabs-tab-active {
  background: #4FC1E9!important;
  color: #fff!important
}
// .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
//   padding: 5px 50px 4px
// }
.vertical-center-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  .ivu-modal{
      top: 0;
  }
}
.layout-content{
  height: 91%!important;
}
.ivu-table-header th{
  background-color: #63B8FF!important;
        color: #fff;
}
.ivu-tabs-bar {
  border-bottom: 1px solid #b6b9c1;
}
.beyond{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical; 
}
.contacts .ivu-form-item-error-tip{
  // margin-top: 40px
}
.querysty{
  overflow: hidden;
  >li{
    width: auto;
    float: left;
    margin-bottom: 15px
  }
}
.ivu-tabs{
  min-height: 400px
}
.banknumint {
  width: 60px;
  height: 30px;
  line-height: 30px
}
.addloan{
  .logoerr .ivu-form-item-error-tip{
    top: 80px!important
  }
  .ivu-form-item-error-tip{
    left: 125px!important
  }
}
.newtype_leftfi .ivu-form-item-error-tip{
  top: 172%
}
.conditioncss,.contentcss{
  background: #fff;
  padding: 20px;
  border-radius: 5px
}
.ivu-btn-info {
  color: #fff;
  background-color: #3d81f2;
  border-color: #3d81f2;
}
.ivu-btn-primary {
  color: #fff;
  background-color: #3d81f2;
  border-color: #3d81f2;
}
.nametop .ivu-form-item-error-tip{
  top: 30px!important
}
.tabgrouping .ivu-table-cell{
  padding: 0
}
.ivu-table .demo-table-info-row td{
  background-color: #f8f8f9;
  border-right: 0
}
.ivu-table .demo-table-info-cell-name td{
  background-color: #ed4014;
}