
.leftsider{
  top: 50px
}
.navigation{
  background: #2DB7F5;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  p{
    line-height: 40px;
    padding-left: 20px;
    color: #fff
  }
}
.red {
  color: red;
}
 .text {
   font-size: 16px;
 }
 .h1 {
  margin: 6px 0 12px 0;
}
// .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
//   background: #4FC1E9;
//   color: #fff
// }
.ivu-tabs-nav .ivu-tabs-tab-active {
  background: #4FC1E9!important;
  color: #fff!important
}
// .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
//   padding: 5px 50px 4px
// }
.vertical-center-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  .ivu-modal{
      top: 0;
  }
}
.layout-content{
  height: 91%!important;
}
.ivu-table-header th{
  background-color: #63B8FF!important;
        color: #fff;
}
.ivu-tabs-bar {
  border-bottom: 1px solid #b6b9c1;
}
.beyond{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical; 
}
.contacts .ivu-form-item-error-tip{
  // margin-top: 40px
}