.leftsider{
  top: 50px
}
.navigation{
  background: #F1F4F7;
  height: 40px;
  margin-bottom: 20px;
  p{
    line-height: 40px;
    padding-left: 20px;
    color: #888888
  }
}
 .red {
  color: red;
}
 .text {
   font-size: 16px;
 }
 .h1 {
  margin: 6px 0 12px 0;
}