/*背景颜色*/
@background: #f5f5f5;
.redWine{
	background:#D64635; 
}
.green1{
	background: #32C5D2;
}
.blue{
	background: #3889D4;
}
.red1{
	background: #E34F59

}
/*内容类的黑色字*/
@black:#393939;
/*时间类的灰色字*/
@gray:#939393;
/*下边框颜色*/
@lineColor:#f3f3f3;
@grayCB:#cbcbcb;
/*下边框*/
@borderBottom:1PX solid @lineColor;
/*cb颜色边框*/
@borderCB:1PX solid @grayCB;
/*白色*/
@wihte:#fff;
/*蓝色*/
@blue:#20A2FF;
@blue0:#2BB8FF;
@blue1:#2C6DA0;
@blue2:#7D97AC;
/*红色*/ 
@red:#CE0000;
/*灰色*/ 
@gray:#EDF7FF;

/*页面头部间隔*/
@topSpacing:8px;
/*页面左右留白*/
@lrSpacing:15px;
/*列表高度*/
@listHeight:138px;
/*******函数********/
/*
**圆角
**num:圆角数
*/
.borderRadius (@num){
	border-radius: @num;
}
/*
**浮动
**dire:方向
*/
.float (@dire){
	float: @dire;
}
.left{
	float: left;
}
.right{
	float: right;
}
/*单行显示省略号*/
.ellipsis () {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
/*
**文字超过n行显示...
**参数：num:行数
*/
.textover (@num) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:@num;
	-webkit-box-orient: vertical; 
}
/*
**按钮样式
**参数：@width,宽,@height，高,@color：字体颜色,@color1：背景颜色,@fontSize：字体大小,size:圆角
*/
.btn(@width,@height,@color,@color1,@fontSize,@size){
	background: @color1;
	.borderRadius(@size);
	 width:@width;
	 height:@height;
	 font-size: @fontSize;
	 color: @color;
	 display: block;
	 text-align: center;
	 line-height:@height;
}
/*
**margin-top公共样式
*/
.mt (@top) {
    margin-top: @top;
}
.ml (@left) {
	margin-left: @left;
}
.mr (@right) {
	margin-right: @right;
}
.padding (@num) {
    padding: @num;
}
.hidden{
	display: none
}
.tr{
	text-align: right
}
.tc{
	text-align: center
}
// margin-right 右边距
.mr100{
	margin-right: 100px
}
// margin-left 左边距
.ml5{
	margin-left: 5px
}
.ml10{
	margin-left: 10px
}
.ml20{
	margin-left: 20px
}
.ml50{
	margin-left: 50px
}
.ml100{
	margin-left: 100px
}
.ml200{
	margin-left: 200px
}
// margin-top 上边距
.mt5{
	margin-top: 5px
}
.mt15{
	margin-top: 15px
}
.mt20{
	margin-top: 20px
}
.mt50{
	margin-top: 50px
}
// margin-bottom 下边距
.mb5{
	margin-bottom: 5px
}
.mb15{
	margin-bottom: 15px
}
// padding-left 左内边距
.pl50{
	padding-left: 50px
}
// line-height 行高
.lh32{
	line-height: 32px
}

// 宽度
.w50{
	width: 50px;
}
.w100{
	width: 100px;
}
.wauto{
	width: auto!important;
}
.displayib{
	display: inline-block;
}
.cursorp{
	cursor: pointer;
}
// 颜色
.yellow1{
	color: #FF9900
}

